<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="EnpointService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1907/" binding="wsDualHttpBinding"
                bindingConfiguration="EnpointService" contract="ServiceReference1.IServiceCallback"
                name="EnpointService">
                <identity>
                    <userPrincipalName value="LAPTOP-E77BQ7S0\Andang Saefullah" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
